---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Footer from "../components/Footer.astro";
import Pricing from "../components/Pricing.astro";
import Faq from "../components/Faq.astro";
import FeatureTwoUp from "../components/FeatureTwoUp.astro";
---

<Layout title="Simpletodo.app">
  <Nav />
  <main>
    <Hero />
    <div id="features">
      <Feature
        title="Seamless Task Management"
        description="Organize your tasks in a note-like experience with flexible, intuitive tasklists."
        videoSrc="/note-like-light.mp4"
        videoSrcDark="/note-like-dark.mp4"
      />
      <FeatureTwoUp
        title="Organize Completed Tasks"
        subtitle1="Move Completed Tasks"
        subtitle2="Organize as sub-notes"
        description1="Easily move completed tasks to a separate list with a button click."
        description2="Completed subtasks are automatically moved, while unfinished ones stay for continued focus. Tasks are organized as sub-notes, making it easy to track progress, review accomplishments, and revisit sub-notes to update any missed tasks."
        videoSrc="/completed-1-light.mp4"
        videoSrcDark="/completed-1-dark.mp4"
        videoSrc2="/completed-2-light.mp4"
        videoSrc2Dark="/completed-2-dark.mp4"
      />
      <Feature
        title="Carry Over Task Alerts"
        description="Get notified when tasks are repeatedly carried over, allowing you to re-prioritize or remove them if they are no longer needed—keeping your to-do list focused on what matters most."
        imgSrc="/carryover-light.png"
        imgSrcDark="/carryover-dark.png"
      />
      <Feature
        title="Project-Based Task Management"
        description="Group your tasks by project, making it simple to track and manage your progress across different areas."
        imgSrc="/projects-view-light.png"
        imgSrcDark="/projects-view-dark.png"
      />
      <Feature
        title="Quick Task Search"
        description="Find tasks and subtasks instantly across all your projects with a powerful search feature."
        imgSrc="/searching-light.png"
        imgSrcDark="/searching-dark.png"
      />
    </div>
    <Pricing />
    <Faq />
  </main>
  <Footer />
</Layout>
