---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import WhyUs from "../components/WhyUs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simpletodo.app: Why Simpletodo.app?">
  <Nav />
  <main>
    <WhyUs />
  </main>
  <Footer />
</Layout>
