---
import { macDownloadLink } from "../common/utils";
import LinkButton from "./LinkButton.astro";
import NavLinkItem from "./NavLinkItem.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<nav class="shadow-md sticky top-0 z-50 backdrop-blur">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <div class="flex items-center gap-2">
        <img src="/logo.png" class="h-8 w-8" />
        <a href="/" class="text-base md:text-xl font-medium"> Simpletodo.app </a>
      </div>

      <div class="flex items-center">
        <!-- Navigation Links -->
        <div class="hidden md:block">
          <div class="flex items-baseline space-x-4">
            <NavLinkItem href="/why"> Why Simpletodo? </NavLinkItem>
            <NavLinkItem href="/#features"> Features </NavLinkItem>
            <NavLinkItem href="/#pricing"> Pricing </NavLinkItem>
            <NavLinkItem href="/#faq"> FAQs </NavLinkItem>
            <NavLinkItem href="https://github.com/Simpletodo-app/simpletodo.app/releases" target="_blank" > Changelog </NavLinkItem>
          </div>
        </div>

        <!-- Try It Button -->
        <div class="ml-4 flex gap-5 flex-shrink-0">
          <LinkButton href={macDownloadLink}> Download </LinkButton>
          <ThemeIcon />
        </div>
      </div>
    </div>
  </div>
</nav>
